# Database Configuration
MONGO_URI=mongodb+srv://******:*******@cluster0.iox9c91.mongodb.net/

# Server Configuration
PORT=8080
NODE_ENV=development

# JWT Authentication
JWT_SECRET=*********************************************************************************************

# Email Configuration (optional)
EMAIL_USER=your_email@gmail.com
EMAIL_PASSWORD=your_app_password

# Frontend URL
FRONTEND_URL=http://localhost:5173

